#grid-container{
    display: grid;
    width: 900px;
    height: 900px;
    margin: 2vw;
}

.grid-item{
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

body {
    display: flex
}