body {
    disply = flex;
}

#grid-container{
    display: grid;
    width: 960px;
    height: 960px;
    grid-template-columns: repeat(16, 1fr);
    margin: 2vw;
}

.grid-item{
    background-color: aqua;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1vw;
}