@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

#grid-container{
    display: grid;
    width: 900px;
    height: 900px;
    margin: 2vw;
}

.grid-item{
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

body {
    display: flex
}

#settings {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    width: 10vw;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    margin: 2vw;
}